/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.grid_container {
  aspect-ratio: 1 / 1;
  display: grid;
  gap: 0.5rem;

  /* width: 100%;
  max-height: 700px;
  max-width: 700px; */

  margin-inline: auto;
  margin-block: 1rem;
}

.btn_container {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-inline: auto;
}

.logic_display {
  width: 300px;
  height: 200px;
  border: 1px solid black;
}

.cells {
  /* display: flex;
  align-items: center;
  justify-content: center; */

  aspect-ratio: 1 / 1;

  outline: 2px solid #0080d6;

  cursor: pointer;

  place-content: center;
  place-items: center;
}

.cells > p {
  /* font-size: clamp(2rem, 3rem + 3vw, 8rem); */
  font-size: calc(4vw + 2.9rem);
  font-weight: bolder;
  color: #f54850;
}
